@import "../index.scss";

.modal-summary{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    .modal-content-summary {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;    
        .modal-body {
            padding: 2px 16px;
            text-align: center;
            color: black;
            .close {
                color: black;
                float: right;
                font-size: 28px;
                font-weight: bold;
                &:hover,
                &:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.show-modal-summary {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .modal-content-summary {
        width: 100% !important;
        margin: 10px 0px !important;
    }
}