@import "../index.scss";

.dropdown {
    margin-top       : 20px;
    // .label-holder {
    //     display: none;
    //     text-align: center;
    // }
}

.label-holder-dd {
    display    : block;
    text-align : center;
    font-size  : 1.17rem;
    font-weight: bold;
}

.dropdown-div-outer {
    position: relative;
    width   : 60%;
    height  : 30px;

    background-color: white;
    border          : 1px solid #ccc;
    font-size       : 15px;
    border-radius   : 5px;
    margin          : auto;
    transition      : all 2s;
    margin-top      : 10px;

    .dropdown-hidden {
        height    : 100%;
        width     : 100%;
        visibility: hidden;
    }

    .dropdown-placeholder {
        width      : 90%;
        position   : absolute;
        top        : 19%;
        margin     : 0px;
        margin-left: 20px;
        color      : black;
    }

    .dropdown-div-inner {

        &::before {
            content       : '';
            width         : 15px;
            height        : 15px;
            background    : url(../img/downArrow.svg)
            center no-repeat;
            position      : absolute;
            top           : 8px;
            right         : 12px;
            font-weight   : 400;
            line-height   : 1;
            text-rendering: auto;

        }

        .dropdown-ul {
            position     : absolute;
            top          : 100%;
            left         : 0px;
            padding      : 0px 12px;
            background   : #fff;
            border-top   : none;
            border       : 1px solid #E3E3E3;
            border-radius: 0 0 3px 3px;
            right        : 0px;
            overflow     : auto;
            list-style   : none;
            display      : none;
            transform    : scaleY(0);
            transition   : all 2s;
            z-index      : 200;
            margin-top   : 1px;

            li {
                border-bottom: 1px solid #EEE;
                padding      : 10px;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .active {
            display  : block;
            transform: scaleY(1);
        }
    }
}

.disable-dropdown {
    position: absolute;
    top     : 0px;
    height  : 100%;
    width   : 100%;
}


.dropdown-div-outer-collpase {
    width : 60%;
    height: 30px;



    .dropdown-placeholder {
        top: 16% !important;
    }

    .dropdown-div-inner {
        &::before {
            top: 8px;
        }
    }

}

@media all and (max-width: 760px) {
    .dropdown-div-outer {
        width: 85%;
    }
}