@import "../index.scss";

.hoa {
    margin-top: 40px;
    .hoa-currency-edit {
        width: 60%;
        margin: auto;
    }
    .hoa-pay-option {
        margin-top: 40px;
    }
}

@media all and (max-width: 760px) {
    .hoa-currency-edit {
        width: 100% !important;
    }
}

