@import "../index.scss";

.home-insurence-container {
    display: flex;
    justify-content: center;
    align-items: center;
    label {
        font-weight: bold !important;
        font-size  : 1.17rem !important;
        margin-top : 40px;
    }
    input {
        width: 40% !important;
        margin: 40px 0px 20px 0px;
    }
}