@import "../index.scss";

.loan-type {
    margin-top: 40px;
}

.edit-pecentage {
    width: 70px !important;
    .currency-text {
        input {
            padding: 0px !important;
        }
    }
}

