@import "../index.scss";

/* HIDE RADIO */
.radio-options-div {
  display: inline-block;

  p {
    font-weight: bold;
    font-size  : 10px;
  }

  
}

[type=radio] {
  position: absolute;
  opacity : 0;
  width   : 0;
  height  : 0;
}

/* IMAGE STYLES */
[type=radio]+img {
  cursor       : pointer;
  height       : 80px;
  width        : 80px;
  border-radius: 50%;
  transition   : all 1s;

}

/* CHECKED STYLES */
[type=radio]:checked+img {
  background-color: rgb(209, 152, 171);
}

.radio-container {
  position  : relative;
  top       : 20px;
  text-align: center;
  transition: height 2s;
}

.radio-container-collapse {
  position  : relative;
  top       : 10px;
  text-align: center;

  img {
    height: 50px;
    width : 50px;
  }

  p {
    font-size: 8px;
  }

  .radio-container-disabled {
    width   : 100%;
    height  : 100%;
    position: absolute;
    top     : 0px;
  }
}

@media all and (max-width: 760px) {
  .radio-container-inner {
    margin : 0px;
    padding: 0px;

    .radio-options-div {
      [type=radio]+img {
        height: 60px;
        width : 60px;
      }
      margin-top: 20px;
      display : flex;
      &:last-child {
        margin-bottom: 20px;
      }

      div {
        display        : flex;
        align-items    : center;
        justify-content: center;
        margin-left    : 20px;
        p {
          font-size: 16px;
          text-align: start;
          margin: 0px auto;
        }
      }

    }
  }

}