@import "../index.scss";

.insu-radio {
    margin-top: 40px;
}

.transaction-radio {
    margin-top: 40px;
}

.sales-next-btn {
    text-align: center;
    p {
        font-size  : 17px;
        font-weight: bold;
        margin: 10px;


        span {
            color    : green;
            font-size: 19px;

            &:last-child {
                cursor: pointer;
            }
        }
    }
}