.widget {
    position: fixed;
    z-index: 10000000;
    bottom: 10px;
    right: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.widget-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1999999999999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    font-size: 1.5rem !important;
  }

  .modal-content1 {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fefefe;
    width: 30%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }

  .modal-header1  {
    position: relative;
    padding: 2px 16px 2px 0px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
  }

  .back-arrow{
    height: 40px;
    width: 40px;
    position: relative;
    top: 36px;
    float: left;
    display: none;
    cursor: pointer;
  }

  .list-info-table {
    width: 100%;
    display: none;
  }
  .list-h5 {
    margin: 0px;
  }
  .list-info-outer-div {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .list-info-inner-div {
    margin-left: 10px;
  }
  .list-img-option {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .last-acc {
    border: none !important;
  }

  .accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
 

  .active::after {
    content: "\2212" !important;
  }
  .accordion::after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .escrow-office-list {
    display: none;
  }
  .widget-faq-list {
    display: none;
  }

  .panel {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: black;
  }

  .close {
    color: white;
    position: absolute;
    top: 0px;
    right: 6px;
    font-size: 28px;
    font-weight: bold;
  }
  a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
   text-align:center;
  
  }

  .modal-body-role, .modal-body-calculator, .modal-body {padding: 2px 16px;}

  .lang-table {
    width: 100%;
  }

  .header-content {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  h5 {
    font-size: 15px;
  }

  .header-title {
    float: right;
    display: none;
  }

  .estimation-list {
    display: none;
  }
  /* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  @media screen and (max-width: 767px) {
    .modal-content1 {
      width: 90%;
    }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .modal-content1 {
    width: 70%;
  }
}