@import './sass/variable';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: $appFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 900px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


